{% extends 'base.html.twig' %}

{% block body %}

    <div class="jumbotron text-center">
        <h1>
            Agence Lorem Ipsum
        </h1>
        <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Totam tempore molestiae aliquam sapiente asperiores hic neque cum. Libero, quis tempore quidem consectetur odit, aliquid sunt nulla est eveniet ad excepturi!
        </p>
    </div>

    <div class="container"></div>
{% endblock %}
