{% extends 'base.html.twig' %}

{% block title 'Voir tout nos biens' %}

{% block body %}

    <div class="container">
        <h1>
            {{ property.title }}
        </h1>
    </div>

{% endblock %}
